<h1><%= @cards.original_text %> - <%= @cards.translated_text %></h1>
<%= link_to(image_tag(@cards.image.url(:thumb)), @cards.image.url, target: '_blank') if @cards.image.exists? %><br />
<%= link_to t('common.edit'), edit_dashboard_card_path(@cards) %> |
<%= link_to t('common.back'), dashboard_cards_path %>