<%= simple_form_for(@user) do |f| %>

<% if @user.errors.any? %>
  <div class="alert alert-danger">
    <h5><%= t('common.errors') %></h5>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %> 
  </ul>
  </div>
<% end %>

  <div class="field">
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :locale, collection: @collection %><br />
    <%= f.button :submit, t('.submit', action: @user.new_record? ? "#{t('common.create')}" : "#{t('common.change')}") %>
  </div>
<% end %>
