<p>Первый в мире удобный менеджер флеш-карточек. Именно так.</p>

<div>
	<% if @random_card.nil?  %>
	  <p>Нет нужных карт</p>
	<% else %>
	  <p>Translate this word: </p>
	  <p><b><%= @random_card.translated_text %></b></p>

	  <%= form_tag("/check", method: "post") do %>
	    <%= label_tag(:user_text, "Translation: ") %>
      	<%= text_field_tag(:user_text) %>
      	<%= hidden_field_tag(:translation, @random_card.original_text) %>
      	<%= hidden_field_tag(:id, @random_card.id) %>
      	<%= submit_tag("Check it!") %>
      <% end %>
	    
	<% end %>
</div>