<%= simple_form_for @cards do |f| %>
    
<% if @cards.errors.any? %>
    <% @cards.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
      <% end %>
  </div>
<% end %>

<%= f.input :original_text %>
<%= f.input :translated_text %>
<%= f.input :review_date %>
<%= f.input :image, as: :file %>
<%= f.input :deck_id, collection: @collection %>
<%= f.button :submit %><br />

<% end %>