<table>
  <tr>
    <th>Original</th>
    <th>Translation</th>
    <th>Review Date</th>
    <th>Deck_id</th>
    <th colspan="2"></th>
  </tr>
 
  <% @cards.each do |card| %>
    <tr>
      <td><%= card.original_text %></td>
      <td><%= card.translated_text %></td>
      <td><%= card.review_date %></td>
      <td><%= card.deck_id %></td>
      <td><%= link_to 'Открыть', card_path(card) %> |</td>
      <td><%= link_to 'Редактировать', edit_card_path(card) %> |</td>
      <td><%= link_to 'Удалить', card_path(card),
              method: :delete,
              data: { confirm: 'Вы уверены?' } %></td>
    </tr>
  <% end %>
</table>