<table>
  <tr>
    <th><%= t('.original') %></th>
    <th><%= t('.translation') %></th>
    <th><%= t('.review_date') %></th>
    <th><%= t('.deck_id') %></th>
    <th colspan="2"></th>
  </tr>
 
  <% @cards.each do |card| %>
    <tr>
      <td><%= card.original_text %></td>
      <td><%= card.translated_text %></td>
      <td><%= card.review_date %></td>
      <td><%= card.deck_id %></td>
      <td><%= link_to t('common.open'), card_path(card) %> |</td>
      <td><%= link_to t('common.edit'), edit_card_path(card) %> |</td>
      <td><%= link_to t('common.delete'), card_path(card),
              method: :delete,
              data: { confirm: t('common.confirmation') } %></td>
    </tr>
  <% end %>
</table>