<h1><%= @cards.original_text %> - <%= @cards.translated_text %></h1>
<%= link_to(image_tag(@cards.image.url(:thumb)), @cards.image.url, target: '_blank') if @cards.image.exists? %><br />
<%= link_to 'Редактировать', edit_card_path(@cards) %> |
<%= link_to 'Назад', cards_path %>