<%= simple_form_for @decks do |f| %>
    
<% if @decks.errors.any? %>
  <div class="alert alert-danger">
    <h5><%= t('common.errors') %></h5>
	<ul>
	  <% @decks.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>	
	</ul>
  </div>
<% end %>

<%= f.input :title %>
<%= f.button :submit %><br />

<% end %>