<!DOCTYPE html>
<html>
  <head>
    <title>Flashcards</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <span class="navbar-brand">
        <%= link_to 'Флешкарточкер', root_path %>
      </span>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to 'Все карточки', cards_path %>
          </li>
        </ul>
        <ul class="nav justify-content-end">
          <li>
            <%= link_to 'Добавить карточку', new_card_path %>
          </li>
        </ul>
      </div>
    </nav>
    
    <main role="main" class="container" style="margin-top: 100px;">
      
      <div class="starter-template">
        <%= yield %>
      </div>
      
      <% flash.each do |key, message| %>
        <p><%= message %></p>
      <% end %>
    </main>  

  </body>
</html>
